@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-200;
  }
}

/* Custom Scrollbar for Dark Mode */
.dark ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dark ::-webkit-scrollbar-track {
  @apply bg-slate-800;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded-full hover:bg-slate-500;
}
